table {
    border-collapse: collapse;
    width: 50%; /* Adjust width as needed */
    border-radius: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Or right-align if preferred */
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: rgb(46, 61, 74);
  }
  